/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.header-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center;
    padding: 1rem;
    background-color: #f4f4f4;
    margin: 0 15%; /* Adding margin to the left and right */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.nav-links li {
    padding: 10px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

.nav-links a.active, .nav-links a:hover {
    background-color: #f4d03f;
    color: #000;
}

main {
    padding: 20px;
    margin: 0 15%; /* Consistent with header margin */
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f4;
    margin-top: 20px;
    margin: 0 15%; /* Consistent with header margin */
}

h2, h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.grant-entry, p {
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .header-container, main, footer {
        flex-direction: column;
        margin: 0 10px; /* Reduced margin for smaller screens */
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li, .nav-links a {
        width: 100%; /* Full width for easier navigation */
    }

    body {
        margin: 10px;
    }
}
